@page  "/playlists"

@using SpotifyAPI.Web.Models
@using  Blazorise.DataGrid
@using splaylist.Helpers
@using splaylist.Models

@inject API api
@inject NavigationManager NavigationManager
@inject Cache Cache


<p>User: @api.UserProfile.DisplayName</p>
<p>User ID: @api.UserProfile.Id</p>

@if (Cache.LoadedPlaylists != null)
{
    <DataGrid TItem="SimplePlaylist" Data="@Cache.LoadedPlaylists" PageSize="50" class="table table-hover table-dark" @bind-SelectedRow="@SelectedPlaylist">
        <DataGridColumn TItem="SimplePlaylist" Field="@nameof(SimplePlaylist.Name)" Caption="Name" AllowSort="true" />
        <DataGridColumn TItem="SimplePlaylist" Field="Owner.DisplayName" Caption="User" AllowSort="true" />
        <DataGridNumericColumn TItem="SimplePlaylist" Field="Tracks.Total" Caption="Tracks" AllowSort="true" />
    </DataGrid>
}
else
{
    <p>Loading Playlists...</p>
}



@code {

    private SimplePlaylist _selectedPlaylist;

    /// <summary>
    /// Kludge as Blazorise.DataGrid.SelectedRowChanged does not work, navigate on change of databinding
    /// </summary>
    SimplePlaylist SelectedPlaylist
    {
        get { return _selectedPlaylist; }
        set
        {
            _selectedPlaylist = value;
            NavigationManager.NavigateTo("playlists/" + _selectedPlaylist?.Id);
        }
    }


    protected override async Task OnInitializedAsync()
    {
        // TODO - depaginate
        var firstPage = await API.S.GetUserPlaylistsAsync(api.UserProfile.Id, limit: 50);
        //playlistContents = firstPage.Items;
        var dep = new Depaginator<SimplePlaylist>();
        Cache.LoadedPlaylists = await dep.Depage(firstPage);
    }


}
