@page  "/playlists"

@using SpotifyAPI.Web.Models
@using splaylist.Helpers
@using splaylist.Models
@using Syncfusion.EJ2.Blazor.Grids

@inject API api
@inject NavigationManager NavigationManager
@inject Cache Cache


<p>User: @api.UserProfile.DisplayName</p>
<p>User ID: @api.UserProfile.Id</p>

@if (LoadedListingPlaylists != null)
{
    <EjsGrid DataSource="@LoadedListingPlaylists" >
        <GridEvents RowSelected="SelectionHandler" TValue="ListingPlaylist"></GridEvents>
        <GridColumns>
            <GridColumn Field="@nameof(ListingPlaylist.Name)" HeaderText="Name"></GridColumn>
            <GridColumn Field="@nameof(ListingPlaylist.Owner)" HeaderText="Owner"></GridColumn>
            <GridColumn Field="@nameof(ListingPlaylist.Public)" HeaderText="Public" Visible="false"></GridColumn>
            <GridColumn Field="@nameof(ListingPlaylist.TrackCount)" HeaderText="Track Count"></GridColumn>
            <GridColumn Field="@nameof(ListingPlaylist.Id)" HeaderText="ID" Visible="false"></GridColumn>

        </GridColumns>
    </EjsGrid>

}
else
{
    <p>Loading Playlists...</p>
}



@code {

    List<ListingPlaylist> LoadedListingPlaylists;

    protected override async Task OnInitializedAsync()
    {
        var simpleplaylists = await Requester.GetUserPlaylistsAsync(api.UserProfile.Id);
        var lp = new List<ListingPlaylist>();
        foreach (var playlist in simpleplaylists)
        {
            lp.Add(new ListingPlaylist(playlist));
        }
        LoadedListingPlaylists = lp;

    }

    public void SelectionHandler(RowSelectEventArgs<ListingPlaylist> args)
    {
        // unsure how this holds up with multiple selection or right clicking
        var selectedID = args.Data?.Id;
        if (selectedID != null)
            NavigationManager.NavigateTo("playlists/" + selectedID);
    }


}
