@page  "/playlists"

@using SpotifyAPI.Web.Models
@using  Blazorise.DataGrid
@using splaylist.Helpers
@using SpotifyAPI.Web.Helpers

@inject APIHelper api
@inject NavigationManager NavigationManager



<p>User: @api.UserProfile.DisplayName</p>
<p>User ID: @api.UserProfile.Id</p>

@if (playlistContents != null)
{
    <DataGrid TItem="SimplePlaylist" Data="@playlistContents" PageSize="50" class="table table-hover table-dark" @bind-SelectedRow="@SelectedPlaylist">
        <DataGridColumn TItem="SimplePlaylist" Field="@nameof(SimplePlaylist.Name)" Caption="Name" AllowSort="true" />
        <DataGridColumn TItem="SimplePlaylist" Field="Owner.DisplayName" Caption="User" AllowSort="true" />
        <DataGridNumericColumn TItem="SimplePlaylist" Field="Tracks.Total" Caption="Tracks" AllowSort="true" />
        <DataGridColumn TItem="SimplePlaylist" Field="@nameof(SimplePlaylist.Id)" Caption="ID" />
    </DataGrid>
}
else
{
    <p>Playlists Not Loaded</p>
    <p>Login: @api.IsAuthenticated()</p>
}



@code {

    private SimplePlaylist _selectedPlaylist;
    List<SimplePlaylist> playlistContents = new List<SimplePlaylist>();

    /// <summary>
    /// Kludge as Blazorise.DataGrid.SelectedRowChanged does not work, navigate on change of databinding
    /// </summary>
    SimplePlaylist SelectedPlaylist
    {
        get { return _selectedPlaylist; }
        set
        {
            _selectedPlaylist = value;
            NavigationManager.NavigateTo("playlists/" + _selectedPlaylist?.Id);
        }
    }


    protected override async Task OnInitializedAsync()
    {
        // TODO - depaginate
        var firstPage = await api.S.GetUserPlaylistsAsync(api.UserProfile.Id, limit: 50);
        //playlistContents = firstPage.Items;
        playlistContents = Depaginater<SimplePlaylist>.Depage(firstPage);
    }


}
