@page "/playlists/{id}"

@using splaylist.Helpers
@using SpotifyAPI.Web.Models
@using splaylist.Models

@using Syncfusion.EJ2.Blazor.Grids

@inject API api

<p>Loaded Artists: @CachedArtists.ToString()</p>
<p>Analysed Tracks: @CachedAnalysis.ToString()</p>

@if (loadedPlaylist == null)
{
    <p>Loading Playlist...</p>
}
else if (CachedAnalysis)
{
    <h2>@loadedPlaylist.Name</h2>

            <EjsGrid DataSource="@playlistContents"
                     @ref="@Grid"
                     AllowSorting="true"
                     AllowFiltering="true"
                     AllowGrouping="true"
                     AllowSelection="true"
                     ShowColumnChooser="true"
                     Toolbar="@( new List<string>() { "ColumnChooser"})">
                @*ContextMenuItems="@(new List<object>() { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending","Copy", "Delete", "Save", "Cancel"})">*@

                <GridFilterSettings Type="FilterType.Excel"></GridFilterSettings>
                @* Below won't work properly until a column has been designated the primary key *@
                <GridSelectionSettings PersistSelection="true" Type="SelectionType.Multiple"></GridSelectionSettings>
                <GridEvents RowSelected="GetSelectedRecords" TValue="ListingTrack"></GridEvents>

                <GridColumns>
                    <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                    <GridColumn Field="@nameof(ListingTrack.TrackTitle)" HeaderText="Title" AllowGrouping="false"></GridColumn>
                    <GridColumn Field="@nameof(ListingTrack.AlbumName)" HeaderText="Album"></GridColumn>
                    <GridColumn Field="@nameof(ListingTrack.ArtistString)" HeaderText="Artists"></GridColumn>
                    <GridColumn Field="@nameof(ListingTrack.AlbumDate)" HeaderText="Release Date" Visible="false"></GridColumn>
                    <GridColumn Field="@nameof(ListingTrack.PlaylistAddedDate)" HeaderText="Date Added to Playlist" Format="yMd" Visible="false"></GridColumn>
                    <GridColumn Field="@nameof(ListingTrack.Id)" HeaderText="Id" Visible="false"></GridColumn>
                    <GridColumn Field="@nameof(ListingTrack.Index)" HeaderText="Index" Visible="false" IsPrimaryKey="true"></GridColumn>
                    <GridColumn Field="@nameof(ListingTrack.Tempo)" HeaderText="Tempo"></GridColumn>
                </GridColumns>
            </EjsGrid>


}

@code
{

    [Parameter]
    public string id { get; set; }

    FullPlaylist loadedPlaylist;

    List<ListingTrack> playlistContents;

    bool CachedArtists;
    bool CachedAnalysis;


    protected override async Task OnInitializedAsync()
    {
        // todo - merge FullPlaylist with List<ListingTrack> under it
        // todo - loading status
        loadedPlaylist = await API.S.GetPlaylistAsync(id);
        playlistContents = await Requester.GetPlaylistTracks(loadedPlaylist);


        CachedAnalysis = await Requester.CacheAnalysedTracks(playlistContents);
        CachedArtists = await Requester.CacheFullArtists(playlistContents);
    }




    // https://ej2.syncfusion.com/blazor/documentation/grid/selection/?_ga=2.33566754.227004858.1571375845-1129692107.1571375845#get-selected-row-indexes

    EjsGrid<ListingTrack> Grid;
    public string SelectedValue;

    public async void GetSelectedRecords(RowSelectEventArgs<ListingTrack> args)
    {
        double[] TotalValue;

        // TODO - figure out what's causing the NullReferenceException on select
        // TODO - handle deselecting values
        // TODO - select by track IDs

        var SelectedRowIndexes = await this.Grid.GetSelectedRowIndexes();

        TotalValue = SelectedRowIndexes.ToArray();
        SelectedValue = "";
        foreach (var data in TotalValue)
        {
            // must convert as EjsGrid.GetSelectedRowIndexes returns an array of doubles, but the list only takes int
            SelectedValue = SelectedValue + " " + playlistContents[Convert.ToInt32(data)].FullTrack.Name;
        }

        StateHasChanged();
    }

}
