@page  "/playlists"

@using SpotifyAPI.Web.Models
@using splaylist.Helpers
@using splaylist.Models
@using Syncfusion.EJ2.Blazor.Grids

@inject API api
@inject NavigationManager NavigationManager
@inject Cache Cache


<p>User: @api.UserProfile.DisplayName</p>
<p>User ID: @api.UserProfile.Id</p>

@if (Cache.LoadedPlaylists != null)
{
    <EjsGrid DataSource="@Cache.LoadedPlaylists" >
        <GridEvents RowSelected="SelectionHandler" TValue="SimplePlaylist"></GridEvents>
        <GridColumns>
            <GridColumn Field="@nameof(SimplePlaylist.Id)" HeaderText="ID"></GridColumn>
            <GridColumn Field="@nameof(SimplePlaylist.Name)" HeaderText="Name"></GridColumn>
        </GridColumns>
    </EjsGrid>

}
else
{
    <p>Loading Playlists...</p>
}



@code {


    protected override async Task OnInitializedAsync()
    {
        await Requester.GetUserPlaylistsAsync(api.UserProfile.Id);
    }

    public void SelectionHandler(RowSelectEventArgs<SimplePlaylist> args)
    {
        // unsure how this holds up with multiple selection or right clicking
        var selectedID = args.Data?.Id;
        if (selectedID != null)
            NavigationManager.NavigateTo("playlists/" + selectedID);
    }


}
