@page "/playlists/{id}"

@using splaylist.Helpers
@using SpotifyAPI.Web.Models
@using splaylist.Models

@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Navigations

@inject API api
@inject NavigationManager nm


    <NeedsAuthentication>

        @if (playlistInfo == null)
        {
            <p>Loading Playlist Info...</p>
        }
        else
        {
            <h2>@playlistInfo.Name</h2>
            <h3>Created by @playlistInfo.Owner.DisplayName, @playlistInfo.Tracks.Total tracks</h3>



            @if (playlist == null || !playlist.IsLoaded)
            {
                <RefreshableComponent Interval="200" Enabled="true">
                    <p>@loader.StatusString</p>
                </RefreshableComponent>
            }
            else
            {
                @*<DelayComponent Interval="200" Message="Rendering Table...">*@
                @* it seems as if this was making the table less responsive, check out later *@



                @if (showGenres)
                {
                    <button @onclick="ToggleGenres">Hide Genres</button>
                    <GenreGrid Contents="@playlist.SongsByGenre"></GenreGrid>
                }
                else
                {
                    <button @onclick="ToggleGenres">View Genres</button>
                }


                <ListingTrackGrid Contents="@playlist.Tracks"></ListingTrackGrid>

                @*</DelayComponent>*@
            }
        }

    </NeedsAuthentication>

@code
{

    [Parameter]
    public string id { get; set; }

    SimplePlaylist playlistInfo;
    ListingPlaylist playlist;

    LoadingStatus loader;


    protected override async Task OnInitializedAsync()
    {
        playlistInfo = Cache.GetSimplePlaylist(id);

        // TODO - fix lag spike when the table begins rendering
        loader = new LoadingStatus();
        playlist = await Requester.GetAndExtendPlaylist(id, loader);


    }

    bool showGenres = false;

    void ToggleGenres()
    {
        showGenres = !showGenres;
    }



}
