@page  "/playlists"

@using SpotifyAPI.Web.Models
@using  Blazorise.DataGrid
@using splaylist.Helpers

@inject APIHelper api
@inject NavigationManager NavigationManager



<p>User: @api.UserProfile.DisplayName</p>
<p>User ID: @api.UserProfile.Id</p>

@if (_playlistReader != null)
{
    <DataGrid TItem="SimplePlaylist" Data="@_playlistReader.Items" PageSize="50" class="table table-hover table-dark" @bind-SelectedRow="@SelectedPlaylist">
        <DataGridColumn TItem="SimplePlaylist" Field="@nameof(SimplePlaylist.Name)" Caption="Name" AllowSort="true" />
        <DataGridColumn TItem="SimplePlaylist" Field="Owner.DisplayName" Caption="User" AllowSort="true" />
        <DataGridNumericColumn TItem="SimplePlaylist" Field="Tracks.Total" Caption="Tracks" AllowSort="true" />
        <DataGridColumn TItem="SimplePlaylist" Field="@nameof(SimplePlaylist.Id)" Caption="ID" />
    </DataGrid>
}
else
{
    <p>Playlists Not Loaded</p>
    <p>Login: @api.IsAuthenticated()</p>
}



@code {
    Paging<SimplePlaylist> _playlistReader;
    private SimplePlaylist _selectedPlaylist;

    /// <summary>
    /// Kludge as Blazorise.DataGrid.SelectedRowChanged does not work, navigate on change of databinding
    /// </summary>
    SimplePlaylist SelectedPlaylist
    {
        get { return _selectedPlaylist; }
        set
        {
            _selectedPlaylist = value;
            NavigationManager.NavigateTo("playlists/" + _selectedPlaylist?.Id);
        }
    }


    protected override async Task OnInitializedAsync()
    {
        // TODO - depaginate
        _playlistReader = await api.S.GetUserPlaylistsAsync(api.UserProfile.Id, limit: 50);
    }


}
