@page "/callback"

@using Helpers
@using SpotifyAPI.Web

@inject NavigationManager UriHelper
@inject AuthHelper ah
@inject APIHelper  sp

@if (sp != null && sp.IsAuthenticated())
{


    <p>@ah.FullUri</p>
    <p>Access Token: @ah.AccessToken</p>
    <p>Token Type: @ah.TokenType</p>
    <p>Expires In: @ah.ExpiresIn</p>
    <p>State: @ah.State</p>
    <p>Error: @ah.Error</p>
    <p>SpotifyWebAPI: @sp.S</p>
    <p>SpotifyWebAPI.AccessToken: @sp.S.AccessToken</p>
} else
{
    <a href="@AuthHelper.GetLoginLink()">Log in with Spotify</a>
}


@code {

    protected override async Task OnInitializedAsync()
    {
        if (ah.SetLinkParams(UriHelper.Uri))
        {
            sp.Authenticate(ah.AccessToken, ah.TokenType);
        }
    }

}
