@page "/callback"

@inject HttpClient Http
@inject NavigationManager UriHelper
@inject AuthHelper ah

@using Helpers

<a href="@AuthHelper.GetLoginLink()">Log in with Spotify</a>
<p>@ah.FullUri</p>
<p>Access Token: @ah.AccessToken</p>
<p>Token Type: @ah.TokenType</p>
<p>Expires In: @ah.ExpiresIn</p>
<p>State: @ah.State</p>
<p>Error: @ah.Error</p>

@code {

    protected override async Task OnInitializedAsync()
    {
        ah.SetLinkParams(UriHelper.Uri);
    }

}
